/*-- scss:defaults --*/
$body-bg: white;
$body-color: black;
$link-color: #890098;

:root {
    --secondary-color: #e400ff;
    --tertiary-color: #890098;
    --secondary-bg-color: black;
    --link-hover-color: #e400ff;
    --secondary-font-color: white;
    --icon-link-color: white;
    --code-block-font-color: black;
    --code-block-bg-color: #f8f9fa;
}

.rust_icon::before {
    content: url("./images/Rust_programming_language_black_logo.svg");
}